In [7]:
import pandas as pd
def inputData(d):
    try:
        data=pd.read_csv('test/testdata/'+d).drop(['Unnamed: 0'],axis=1)
        return data
    except:
        print('failed in data reading')

             Y        y1        y0    W        X1        X2
0     1.162317  1.162317  0.690833  1.0  0.942969  0.455983
1    -1.264944 -1.608159 -1.264944  0.0 -0.686431 -1.094085
2    -0.535905 -0.535905  0.339912  1.0 -1.751633  0.785610
3     0.133708 -0.346741  0.133708  0.0 -0.960897  0.376878
4     0.263071  0.133402  0.263071  0.0 -0.259339  0.333831
...        ...       ...       ...  ...       ...       ...
8995 -0.198244 -0.198244 -0.019036  1.0 -0.358414  0.068197
8996 -1.136471 -1.136471 -0.246943  1.0 -1.779056  0.207363
8997 -1.712998 -1.626649 -1.712998  0.0  0.172698 -1.754790
8998 -2.212141 -2.212141 -2.205884  1.0 -0.012514 -2.195041
8999 -0.014091 -0.014091  0.037939  1.0 -0.104060  0.062436

[9000 rows x 6 columns]